<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body class="bg-gray-800">
    <!--header start-->
    <div class="flex justify-between mt-5 bg-blue-400 flex items-center h-8">
        <div class="ml-4">
            <div>
                FinNav
            </div>
        </div>
        <div class="">
            <ul class="w-48 flex justify-between">
                <li class="text-white">home</li>
                <li class="text-white">about</li>
                <li class="text-white">contact</li>
            </ul>
        </div>
        <div class="mr-4">
            <button class="text-white mx-2 w-20 rounded-br-2xl rounded-tl-2xl bg-blue-600"><a href="signin.html" title="signin" >signin</a></button>
            <button class="text-white mx-2 w-20 rounded-br-2xl rounded-tl-2xl bg-blue-600"><a href="login.html" title="login">login</a></button>
        </div>
    </div>
    <!--header close-->
</body>
</html>
